/* Reset items */

* {
  box-sizing: border-box;
}

html, body {
  font: 14px/1.3 sans-serif;
  color: #666;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

/* Global styleguide items */
.sg-button {
  -webkit-apperance: none;
  border: 0;
  border-radius: 3px;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
  padding: 0;
}
.sg-button:HOVER {
  opacity: 0.8;
}

.sg-button--primary{
  background: cornflowerblue;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
}

.sg-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

.sg-row:not(:last-child) {
  padding: 0 0 0.5rem 0;
}
