.todosInput {
  font: inherit;
  padding: 0.5rem 0.75rem;
  margin: 0 1rem 0 0;
  flex-grow: 1;
  line-height: 1;
  border: 1px #ccc solid;
  border-radius: 3px;
}

.todosFooter {
  margin: 1.25rem 0 0 0;
}
